
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFFFF;
}

.navbar-toggler{
    width: 0%;
    height: 0%;
    display: none;}
    .menu-bars{
        width: 0%;
        height:0%;}
/* Style the tab */
.tab {
  overflow: scroll;
  float: left;
  border-width: 1px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
 /* position: fixed;*/
  background-color: #F6F8FA;
  width: 25%;
  height: 100%;
  padding:22px;
  
  
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #741717;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  width:287px;
  height:64px ;
  border-radius: 8px;
  font-size: 16px;
  color: #414141;
  font-size: 17px;
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color:#FA6230;
  color:#FFFFFF;
  width:287px;
  height:64px ;
  border-radius: 8px;
  font-size: 17px;
}

.tab .icon {
  display: none;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding:  15px;
  border: 1px solid #FFFFFF;
  width: 75%;
 
  border-left: none;
  background-color: #FFFFFF;
 
  
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}
.flexcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    height: 69px;
   
}
.dashtext{
    font-size: 16px;
    color:#444748;
    margin-top: 0px;
}
.container{
display: flex;
flex-direction: column;
justify-content: space-between;
color: #000000;
font-size: 32px;
font-weight: 700;
margin-top: 15px;
}

.staffcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    margin-top: 15px;
    }
.searchdiv{
    display: flex;
    margin-top: 15px;
   
}
.iconsearch{
    margin-left: 550px;
    margin-top: 12px;
    border-radius: 8px;
    border: 2px solid #EEF0F5;
    height: 40px;
    width:40px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
search{
    padding: 10px;
    margin-left: 0px;
    margin-top: 12px;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid#EEF0F5;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
#admin{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  margin-left: 10px;

}
.icon{
  
    margin-left: 99px;
}
#signup{
    color: #F0592A;
}/*
#maindiv{
    text-align: center;
padding: 150px;
width: 610px;
height: 582px;
background-color:#F6F8FA;

}*/

.maindiv{
    display: flex;
    flex-direction:row;
    gap: 10px;
   
    
    }
.insidediv{
display: flex;
flex-direction: column;
width: 50px;

height: 20px;

}
.minidiv1{
    background-color:  #F6F8FA;
    width: 50%;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
}
.insided{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.divinside{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: -35px;
    
    
}
.insidedivs{
    margin: 5px;
    background-color: #FFFFFF;
   height: 70px;
   border-radius: 4px;
   padding: 15px;
   /**/
}

.insidedivs1{
    margin: 5px;
    background-color: #FFFFFF;
   height: 70px;
   width: 48%;
   border-radius: 4px;
   padding: 15px;
   /**/
}
.divp{
    font-size: 9px;
   white-space: nowrap;
width: 150px;
    
    
}
.img{width: 25px;
height: 25px;}
.div2{
    width: 65%;
    background-color:#F6F8FA;
    border-radius: 8px;
    padding: 10px;
    
}
.imgdiv{
display: flex;
flex-direction: row;
}
.pimg{
    margin-top: 3px;
    margin-left: 10px;
    width: 190px;
    color: #000000;
    font-weight: 700;
}

.imgcenter{height: 30px;
    width: 30px;
    
}



*{
    margin: 0;
    padding: 0;
}
.box{
    margin: 10px;
    height: 250px;
    background-color: #fff;
}


.tab2 {
    display: flex;flex-direction: row;
    width:40px;
    height:16px ;
    margin-top: 20px;
  }
/* Style the buttons inside the tab */
.tab2 div {
    
    display: flex;flex-direction: row;
    background-color: #D0D0D0;
    color: #414141;
    height:16px ;
    padding: 22px 16px;
    width: 170px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  .tab2 div:hover {
    background-color: #ddd;
    color: #414141;
    width:170px;
    height:16px ;
  
  }
  /* Create an active/current "tab button" class */
  .tab2 div.active {
    background-color:#FA6230;
    color:#FFFFFF;
    width:170px;
    height:16px ;
   
  }

/* Style the tab content */
.tabcontent2 {
   margin-top: 50px;
   margin-left: 0px;
    padding:  12px;
    width: 100%;
    background-color: #FFFFFF;
    
  }
 table { 
            border-collapse: collapse; 
            width: 100%; 
        } 
          
        th, td { 
            text-align: left; 
            padding: 8px; 
        } 
          
        tr:nth-child(even) { 
            background-color: #DEDEDE; 
        } 
      .color:nth-child(even) { 
          background-color: #880a0a; 
      } 

    
        
        
.search {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 530px;


}
 .test2divs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:10px;width: 18%;
  text-align: center;
  
   }
.input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
 


}

   
.search1 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
margin-left: 515px;


}

.searc {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
margin-left: 515px;


}
.div{
  margin:  20px 0px 0px 0px;
  
}
.AccountOverview{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 100%;


}

  .modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    margin-top: -400px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    color: #000000;
    background: rgba(14, 15, 14, 0.3)
    
}

.modal-content {
    background-color: #FFFFFF;
    width: 30%;
    height: 60%;border-radius: 8px;
    margin-left: 300px;
    margin-top: 100px;
    color: #000000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
  
}
#check{
  display: none;
 
}
.test1div{
  background-color: #FFFFFF;
  width:48%;
  height: 150px; 
  text-align: center;
  margin: 3px; 
  border-radius: 8px;
}
.test1prof{
  background-color: #FA6230;
  height: 20px;
  width:145px;
  color:#FFFFFF;
  margin: 10px;
  border-radius: 4px;
  font-weight: 700;
}
.test1hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 10px;
  border-radius: 4px;
  width: 145px;
  height:59px;
  padding-top: 15px;
}
.test1p{
  font-size: 13px;
}
.test1img{
  width: 15px;
  height: 15px;
}
.test2main{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  height: 210px;
  margin-top:15px;
  width:100%;
}
.test2div{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA;
   margin: 10px;
   border-radius: 4px;
  width: 159px;
  height:60px;
}
.test2prof{
  background-color: #FA6230;
  height: 20px;
  width:159px;
  color:black;
  margin: 10px;
  border-radius: 4px;
   cursor: pointer;}
   
   .table-body3{
    margin-left: 50px;height: 50px;
   }
   .test5div{
    background-color: #FDE6E6;
    height: 25px;
    width:160px;
    color:#EA0000;
    margin: 10px;
   }
   .test5div2{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin: 10px;
   }
   .test4div{
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
     margin: 10px;border-radius: 4px;
     width: 160px;
     height:60px;
   }
   .test4div3{
    background-color: #F6F8FA;
    height: 25px;
    width:160px;
    color:#FA6230;margin: 10px;
   }
   .test4div2{
    background-color: #FA6230;
    height: 20px;width:159px;color:#FFFFFF;
    margin: 10px;border-radius: 4px;
   }
   .test3div{
    background-color: #F6F8FA;
    margin-top: 25px;
    margin: 13px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
.div3{
  width: 45%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
}
.minigiftcard{
  height:120px;
  width: 45%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 10px;
}
.user{
  
  width: 65%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  height: 120px;
}
.div0{
  background-color: #FFFFFF;
  width:19.3%;height: 250px; text-align: center; border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
}
.label{
font-size: 15px;
font-weight: 700;
}

.label1{
  font-size: 15px;
  font-weight: 700;
  margin-top: -55px;
  display: flex;
  flex-direction: row;
  }
  .staffhash{
    background-color: #F6F8FA;margin-top: 25px;margin: 15px;width: 244px;display: flex;flex-direction: column;justify-content: space-between;
  }
  .productdetailimg{
    border-radius: 90%;width: 80px;height: 80px;margin-top: 15px;
  }
  .productdetailhash{
    display: flex;flex-direction:column;background-color:#F6F8FA;margin-top:20px;  border-radius: 4px;width: 280px;height: 80px;
  }
  .deactive{background-color: #EA0000;margin-left: 505px;margin-top: 70px;width: 100px;height: 28px;border-radius: 4px;padding-top:15px;padding-left:19px;
  }
@media (max-width: 800px){
 
  
  .productdetailimg{
    border-radius: 90%;width: 80px;height: 80px;margin-top: 15px;
  }
  .productdetailhash{
    display: flex;flex-direction:column;background-color:#F6F8FA;margin-top:20px;  border-radius: 4px;width: 180px;height: 80px;
  }
  .deactive{background-color: #EA0000;margin-left: 395px;margin-top: 70px;width: 60px;height: 23px;border-radius: 4px;padding-top:10px;padding-left:5px;
  }
  .deactive p{font-size: 12px;}
  }

 table { 
  border-collapse: collapse; 
  width: 100%; 
} 

th, td { 
  text-align: left; 
  padding: 8px; 
} 

tr:nth-child(even) { 
  background-color: #DEDEDE; 
} 
 .staffhash{background-color: #F6F8FA;margin-top: 25px;margin: 15px;width: 200px;display: flex;flex-direction: column;justify-content: space-between;}
   .test3div{
    background-color: #F6F8FA;
    margin-top: 25px;
    margin: 13px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
  .test4div3{
    background-color: #F6F8FA;
    height: 25px;
    width: 119px;
    color:#FA6230;margin: 10px;
   }
   .test4div2{
    background-color: #FA6230;
    height: 20px;width:119px;color:#FFFFFF;
    margin: 10px;border-radius: 4px;
   }
  .test4div{
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
     margin: 10px;border-radius: 4px;
     width: 119px;
     height:60px;
   }
  .test5div{
    background-color: #FDE6E6;
    height: 25px;
    width:120px;
    color:#EA0000;
    margin: 10px;
   }
   .test5div2{
    background-color: #FA6230;
    height: 25px;
    width:120px;
    color:#FFFFFF;
    margin: 10px;
   }
.dashtext{
  font-size: 13px;
  color:#444748;
  margin-top: 0px;
  white-space: nowrap;
}
.test2prof{
  background-color: #FA6230;
  height: 20px;
  width:125px;
  color:black;
  margin: 10px;
  border-radius: 4px;
   cursor: pointer;}
 .test2div{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA;
   margin: 10px;
   border-radius: 4px;
  width: 125px;
  height:60px;
 }
.test1img{
  width: 10px;
  height: 10px;
}
  .test1p{
    font-size: 8px;
  }
  .test1hash{
  width: 90px;
  height:50px;
  background-color: #F6F8FA;
  padding-top: 15px; 

  }
  .test1div{width: 47%;background-color: #FFFFFF;}
  .test1prof{
    background-color: #FA6230;
    height: 18px;
    width:90px;
    font-weight: 700;
    font-size: 10px;
  color: #FFFFFF;}
  .tab{
  background-color: #E0E0E0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
 width: 100%;
 height: 69px;
  

  }
  .tab .flexcontainer {
width: 90px;
color: #000000;
list-style: none;
display: flex;
justify-content: flex-start;
align-items: center;
margin-top: -20px;

  }
  .tab .menu {
    
    margin-left: 700px;
margin-top: -30px;
cursor: pointer;



  }
  .flexcontainer1{
    margin-top: 60px;
   
    width: 100%;
    height: 69px;
  }
  .search{
    margin-left: 380px;
  }
  .searc{
    margin-left:90px;
  }
  .search1{
    margin-left: 290px;
  }
  .hyi{
    position: fixed;
     width: 50%;
   
    background-color: #E0E0E0;
    top: 0;
    right:0;
    display: none;
    transition: all .5s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   
   
  }
  .tab .div{
    width: 500px;
    height: 100%;
    color: #000000;
    
  }
  nav button{
    font-size: 20px;
  }
  .tabcontent{
    width: 100%;
    height: 100%;

  }
  
  .AccountOverview{
    width: 100%;
    height: 100px;

  }
  .insidediv{
    width: 50;
  }
  .insidedivs{
    width: 165px;
   
  }
  .imgcenter{
    width: 25px;
    height: 25px;
  }
  
.divp{
  font-size: 6px;
color: 
#444748;
}
}











/* For screens smaller than 768px */

@media (max-width: 400px){

  
  .productdetailimg{
    border-radius: 90%;width: 80px;height: 80px;margin-top: 15px;
  }
  .productdetailhash{
    display: flex;flex-direction:column;background-color:#F6F8FA;margin-top:20px;  border-radius: 4px;width: 218px;height: 80px;
  }
  .deactive{background-color: #EA0000;margin-left: 5px;margin-top: 70px;width: 60px;height: 20px;border-radius: 4px;padding-top:10px;padding-left:5px;
  }
  .deactive p{font-size: 12px;}
  
 table { 
  border-collapse: collapse; 
  width: 100%; 
} 

th, td { 
  text-align: left; 
  padding: 8px; 
} 

tr:nth-child(even) { 
  background-color: #DEDEDE; 
} 
  .staffhash{background-color: #F6F8FA;margin-top: 25px;margin: 15px;width: 150px;display: flex;flex-direction: column;justify-content: space-between;}

  .modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    margin-top: -600px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    color: #000000;
    background: rgba(14, 15, 14, 0.3)
    
}

.modal-content {
    background-color: #FFFFFF;
    width: 80%;
    height: 60%;border-radius: 8px;
    margin-left: 20px;
    margin-top: 100px;
    color: #000000;
}

.staffcontainer{
  display: flex;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  }
  label{
    white-space: nowrap;
  }
.div0{
  background-color: #FFFFFF;
  width:48%;
  height: 250px;
   text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
}
.input {
  width: 200%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 40px;
 


}
 .test2divs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:10px;
  text-align: center;
  width: 48%;
 }
.user{
  
  width: 100%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  height: 120px;
}
.minigiftcard{
  height:120px;
  width: 100%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 10px;
}
.div3{
  width: 100%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
}
  .div2{
    width: 100%;
    background-color:#F6F8FA;
    border-radius: 8px;
    padding: 10px;
  
}
.maindiv{
  display: flex;
  flex-direction:column;
  gap: 10px;
 
  
  }
  .minidiv1{
    width: 100%;
    background-color:  #F6F8FA;
    height: 300px;
    border-radius: 8px;
    padding: 10px;

  }
  .test3div{
   background-color: #F6F8FA;
   margin-top: 25px;
   margin: 13px;
   width: 110px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
 .test4div3{
   background-color: #F6F8FA;
   height: 25px;
   width: 119px;
   color:#FA6230;margin: 10px;
  }
  .test4div2{
   background-color: #FA6230;
   height: 20px;width:119px;color:#FFFFFF;
   margin: 10px;border-radius: 4px;
  }
 .test4div{
   display: flex;
   flex-direction: column;
   background-color: #F6F8FA;
    margin: 10px;border-radius: 4px;
    width: 119px;
    height:60px;
  }
 .test5div{
   background-color: #FDE6E6;
   height: 25px;
   width:140px;
   color:#EA0000;
   margin: 10px;
  }
  .test5div2{
   background-color: #FA6230;
   height: 25px;
   width:140px;
   color:#FFFFFF;
   margin: 10px;
  }
.dashtext{
 font-size: 13px;
 color:#444748;
 margin-top: 0px;
 white-space: nowrap;
}
.test2prof{
 background-color: #FA6230;
 height: 20px;
 width:125px;
 color:black;
 margin: 10px;
 border-radius: 4px;
  cursor: pointer;}
.test2div{
 display: flex;
 flex-direction: column;
 background-color: #F6F8FA;
  margin: 10px;
  border-radius: 4px;
 width: 125px;
 height:60px;
}
.test1img{
 width: 10px;
 height: 10px;
}
 .test1p{
   font-size: 10px;
 }
 .test1hash{
 width: 125px;
 height:50px;
 padding-top: 10px;
 background-color: #F6F8FA; 

 }
 .test1div{width: 47%;background-color: #FFFFFF;}
 .test1prof{
   background-color: #FA6230;
   height: 18px;
   width: 125px;
   font-weight: 700;
  color: #FFFFFF;}
 .tab{
 background-color: #E0E0E0;
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
width: 100%;
height: 69px;
 

 }
 .tab .flexcontainer {
width: 100%;
color: #000000;
list-style: none;
display: flex;
justify-content: flex-start;
align-items: center;
margin-top: -20px;

 }
 .tab .menu {
 
   margin-left: 300px;
margin-top: -30px;
cursor: pointer;


 }
 .flexcontainer1{
   margin-top: 60px;
  
   width: 100%;
   height: 69px;
 }
 .search{
   margin-left: 50px;
 }
 .searc{
   margin-left:90px;
 }
 .search1{
   margin-left: 290px;
 }
 .hyi{
   position: fixed;
    width: 100%;
   height: 100vh;
   background-color: #E0E0E0;
   top: 0;
  
   display: none;
   transition: all .5s;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
 
  
 }
 .tab .div{
   width: 500px;
   height: 100%;
   color: #000000;
   
 }
 nav button{
   font-size: 20px;
 }
 .tabcontent{
   width: 100%;
   height: 100%;
   

 }
 .AccountOverview{
   width: 100%;
   height: 100px;

 }
 .insidediv{
   width: 50;
 }
 .insidedivs{
   width: 165px;
  
 }
 .imgcenter{
   width: 25px;
   height: 25px;
 }
 
.divp{
 font-size: 6px;

}
}






/*
@media screen and (max-width: 600px) {
  
  .tab a:not(:first-child) {display: none;}
  .tab a.icon {
    float: right;
    display: block;
  }
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
  }*/




  