
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
.renvbtn{
  background-color: yellow;color: #000000;height: 40px;text-align: center;width: 200px;padding-top: 10px;border-radius: 4px;margin-top: 15px;
}
.renvp{
  color: #000000;margin-top: 50px;
}
.renvdiv{
  display: flex;flex-direction: row;margin-left: 420px;margin-top: 10px;gap: 5px;
 }
 .renvdiv2{
  display: flex;flex-direction:row;margin-left: 100px;margin-top: 10px;
 }

.test5div3{
  background-color: #FA6230;
  height: 25px;
  width:160px;
  color:#FFFFFF;
  margin: 10px;
  border-radius: 4px;
  padding-top: 5px;
 }
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFFFF;
   
}
.adminrow{
  display: flex;flex-direction:row;gap: 10px;height: 210px;margin-top: 15px;}

 
.tab .header{
  gap: 15px;margin: 40px 0px 0px 0px;
 }
 
.logout{
  background-color:   #FEE0D6;border-radius: 8px;width: 287px;height: 60px;font-weight: 700;color: #EA0000;margin-top: 20px; display: flex;flex-direction: row;padding-left: 15px;padding-top: 18px;
}
.searchicon{
  display: none;
  overflow:visible;
  
}
.date{
  background-color: #DEDEDE;height: 40px;width: 160px;padding-top: 15px; padding-left: 20px;border-radius: 5px;
}
.contentbtn{
  background-color: #FA6230;
  color: #FFFFFF;
  margin-top: 25px;
  height: 40px;
  text-align: center;
  width: 200px;
  padding-top: 10px;
  border-radius: 4px;
}
.modal7btn{
  background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 30px;margin-left: 275px;border-radius: 4px;
}
.modal3imginput  {
  display: flex;flex-direction:column;padding-left: 85px;padding-top: 20px;gap: 10px;
}
.modalhd{
  color: #000000;padding: 15px;
}
.modal3btn{
  background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 30px;margin-left: 275px;border-radius: 4px;
}

.modal4btn{
  background-color: #FA6230;color:#FFFFFF;
  border: 0px;height: 30px;width: 90px;
  margin-top: 20px;margin-left: 275px;
  border-radius: 4px;
}

.staffdiv{
  display: flex;flex-direction:row;gap: 10px;height: 210px;margin-top: 15px;
}

.btcdiv{
 height: 175px;background-color: #FFFFFF;border-radius: 8px;padding: 10px;margin-top: 15px;margin-left: 5px;margin-right: 5px;
       margin-bottom: 5px;
}
.chatp{
  background-color: #F6F8FA;
  color: #414141;
  font-size: 15px;
  height: 40px;
  width: 600px;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 15px;
  margin-left: -180px;
}
.chatopt{
  color:#FA6230; 
  background-color:#FEE0D6;
  width: 200px;
  height: 40px;
  gap: 5px;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 55px;
  margin-left: 250px;
    }
.admins{
  height: 230px;
  width: 49%;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
}
span{font-size: 10px;
line-height: 20px;}
.menu{
  display: none;
  overflow:visible;
}
.tab .close{
  display: none;
}
/* Style the tab */
.tab {
  float: left;
  border-width: 1px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
 /* position: fixed;*/
  background-color: #F6F8FA;
  width: 25%;
  max-height: 800px; /* Set a maximum height for the scrollable menu */
  overflow-y: auto; 
  padding:22px;
  
  
}


.tab::-webkit-scrollbar{display: none;}
/* Style the buttons inside the tab */
.div .tablinks {
  display: flex;
flex-direction: row;
  color: #414141;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.div .tablinks:hover {
  background-color: #ddd;
  width:280px;
  height:64px ;
  border-radius: 8px;
  font-size: 16px;
  color: #414141;
  font-size: 17px;
}
/* Create an active/current "tab button" class */
.div .tablinks.active {
  background-color:#FA6230;
  color:#FFFFFF;
  width:280px;
  height:64px ;
  border-radius: 8px;
  font-size: 17px;
}

.tab .icon {
  display: none;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding:  20px;
  border: 1px solid #FFFFFF;
  width: 75%;
 height: 100%;
  border-left: none;
  background-color: #FFFFFF;
 
  
}
.flexcontainer{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
}
.flexcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    height: 69px;
   
}
.dashtext{
    font-size: 12px;
    color:#444748;
    margin-top: 0px;
    white-space: nowrap;
    
}
.container{
display: flex;
flex-direction: column;
justify-content: space-between;
color: #000000;
font-size: 32px;
font-weight: 700;
margin-top: 15px;
}

.staffcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
    }
.searchdiv{
    display: flex;
    margin-top: 15px;
   
}
.iconsearch{
    margin-left: 550px;
    margin-top: 12px;
    border-radius: 8px;
    border: 2px solid #EEF0F5;
    height: 40px;
    width:40px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
search{
    padding: 10px;
    margin-left: 0px;
    margin-top: 12px;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid#EEF0F5;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
#admin{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  margin-left: 10px;

}
icon{
  
    margin-left: 99px;
}
#signup{
    color: #F0592A;
}/*
#maindiv{
    text-align: center;
padding: 150px;
width: 610px;
height: 582px;
background-color:#F6F8FA;

}*/

.maindiv{
    display: flex;
    flex-direction:row;
    gap: 15px;
    
    max-width:100% ;    
    }

.insidediv{
display: flex;
flex-direction: column;
margin-left: -5px;
margin-top: 10px;
}
.minidiv1{
  display: flex;
  flex-direction: column;
    background-color:#F6F8FA;
    width: 49.2%;
    height: 300px;
    border-radius: 8px;
    padding: 10px;

}
.insided{
    display: flex;
    flex-direction: row;
    
}
.divinside{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}

.divinside1{
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  flex-direction: column;
  gap: 5px;
 
}
.divinside1 .no{
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}

.insidedivs{
    background-color: #FFFFFF;
   height: 70px;
   margin: 5px;
   border-radius: 4px;
   padding: 15px;
gap: 10px;
    display: flex;
    flex-basis: calc(48.9% - 5px); /* Each item occupies 50% of container width with a small gap */
   /* Adjust gap as needed */
}

.insidedivs1{
   
    background-color: #FFFFFF;
  display: flex;
  margin: 5px;
  gap: 5px;
  flex-direction: row;
    height: 55px;
   width: 48%;
   /**/
}
.divp{
    font-size: 8px;
   white-space: nowrap;
   font-weight: 500;
width: 150px;
color:#444748;
    
    
}

.divp1{
  font-size: 8px;
  white-space: nowrap;
 }
.img{max-width: 100%;
height: 25px;}

.div2{
    width: 60%;
    background-color:#F6F8FA;
    border-radius: 8px;
    padding: 10px;
    
    
    
}
.imgdiv{
display: flex;
flex-direction: row;
}
.pimg{
    margin-top: 3px;
    margin-left: 10px;
    width: 190px;
    color: #000000;
    font-weight: 700;
}

.imgcenter{max-width: 100%;
}

.imgcenter1{width: 30px;
  margin-top: 15px;
  margin-left: 10px;
  height: 30px;
}



*{
    margin: 0;
    padding: 0;
}
.box{
    margin: 10px;
    height: 250px;
    background-color: #fff;
}


.tab2 {
    display: flex;flex-direction: row;
    width:470px;
    height: 46px ;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
  }
/* Style the buttons inside the tab */
.tab2 div {
    
    display: flex;flex-direction: row;
    background-color: #FFFFFF;
  border-radius: 4px;
    border: 1px solid #D0D0D0;
    color: #414141;
    height:46px ;
   padding: 12px;
    width: 170px;
    outline: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  .tab2 div:hover {
    background-color: #ddd;
    color: #414141;
    width:170px;
    height:46px ;
    border-radius: 4px;
  
  }
  /* Create an active/current "tab button" class */
  .tab2 div.active {
    background-color:#FA6230;
    color:#FFFFFF;
    width:170px;
    height:46px ;
   border-radius: 4px;
  }

/* Style the tab content */
.tabcontent2 {
   margin-top: 50px;
   margin-left: 0px;
    padding:  12px;
    width: 100%;
    background-color: #FFFFFF;
    
  }
 table { 
            border-collapse: collapse; 
            width: 100%; 
        } 
          

        th, td { 
            text-align: left; 
            padding: 6px; 
            
        } 
          th{background-color: #FFFFFF;}
       tbody tr:nth-child(odd) { 
            background-color: #DEDEDE; 
        } 
 
     tbody tr:nth-child(even) { 
          background-color: #FFFFFF; 
      } 
      .credit {
        font-weight: 700;
        color: green; /* Change this to whatever color you prefer */
    }

    .Debit {
      font-weight: 700;
        color: red; /* Change this to whatever color you prefer */
    }
        
        
.search {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 514px;
  margin-top: 20px;
}

.search1 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 559px;
  margin-top: 20px;
}
.search3 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 405px;
  margin-top: 20px;
}


.search4 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 487px;
  margin-top: 20px;
}

.search5 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 415px;
  margin-top: 20px;
}

.search6 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  background-color: #FFFFFF;
  padding: 20px;

 
}

input[type='file'] {
  cursor: pointer;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
 
}

.search8 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 560px;
  margin-top: 20px;
 
  
}

.search9 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 505px;
  margin-top: 20px;
 
  
}

.search10 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 370px;
  margin-top: 20px;
 
  
}

.search11 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 392px;
  margin-top: 20px;
 
  
}

.search12 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 432px;
  margin-top: 20px;
 
  
}

.search13 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 410px;
  margin-top: 20px;
 
  
}

.search14 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 150px;
  margin-top:20px;
 
  
}

.search15 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 505px;
  margin-top: 20px;
 
}


.search16 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 570px;
  margin-top: 20px;
 
  
}
.search17 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 190px;
  margin-top: 20px;
}


.search18 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 260px;
  margin-top: 20px;
}

.search19 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 500px;
  margin-top: 20px;
}

.imagepreview{width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  display: flex;
  margin-left: 50px;
}

 .test2divs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:10px;width: 18%;
  text-align: center;
  
   }
.input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 14px;
 
}


.input2 {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 16px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
 


}

.input3 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 330px 15px; 
  background-repeat: no-repeat;
  padding: 20px ;
  line-height: 37px;
  background-image: url('./images/expand_more\ \(1\).png');
  background-size: 8px 8px;
}


.input4 {
  width: 100%;
  height: 80px;
 
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 14px;
 
}
   

.input5 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 450px 15px; 
  background-repeat: no-repeat;
  padding: 20px ;
  line-height: 37px;
  background-image: url('./images/expand_more\ \(1\).png');
  background-size: 8px 8px;
}
search1 {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
margin-left: 515px;


}

.searc {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
margin-left: 515px;


}
.div{
  margin-left: -21px;
 border-width: 1px;
 width:318px;
 padding: 15px;
  border-bottom: solid#E0E0E0 1px;
  
}
.AccountOverview{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;


}


.modal2btn{
  background-color: #FA6230;
  color:#FFFFFF;
  border: 0px;height: 30px;
  width: 90px;
  margin-top: 20px;
  margin-left: 280px;
  border-radius: 4px;
}
.modal7 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -428px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal6 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -435px;
  z-index: 1;
  width: 100%;
  height: 115%;
  margin-left: 0%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal5 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -635px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: 0%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal4 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -429px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal3 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -415px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}


.modal2 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -784px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
  .modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    margin-top: -380px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: -26.4%;
    color: #000000;
    background: rgba(14, 15, 14, 0.3)
    
}

.modal-content4 {
  background-color: #FFFFFF;
  width: 30%;
  height: 90%;border-radius: 8px;
  margin-left: 500px;
  margin-top: 35px;
  color: #000000;
}

.modal-content3 {
  background-color: #FFFFFF;
  width: 30%;
  height: 78%;border-radius: 8px;
  margin-left: 500px;
  margin-top: 90px;
  color: #000000;
}
.modal-content2 {
  background-color: #FFFFFF;
  width: 30%;
  height: 55%;border-radius: 8px;
  margin-left: 300px;
  margin-top: 100px;
  color: #000000;
}

.modal-content {
    background-color: #FFFFFF;
    width: 30%;
    height: 70%;border-radius: 8px;
    margin-left: 500px;
    margin-top: 90px;
    color: #000000;
}

.tab .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 20px;
    cursor: pointer;

}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
  
}
#check{
  display: none;
 
}
.test1div{
  background-color: #FFFFFF;
  width:48%;
  height: 150px; 
  text-align: center;
  margin: 3px; 
  border-radius: 8px;
}
.test1prof{
  background-color: #FA6230;
  height: 25px;
  width:145px;
  font-size: 11px;
  color:#FFFFFF;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 12px;
  border-radius: 4px;
  font-weight: 700;
}


.test1hash3{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 154px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.test1hash2{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 158px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.test1hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 145px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}


.test2hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-left: 6px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 158px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}



.test5hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 145px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.userdiv1{
  display: flex;flex-direction: row;gap:5px;margin-left:8px;
}
.userdiv2{
  display: flex;flex-direction: row;margin-top:8px;gap:5px;margin-left: 8px;
}
.test1p{
  font-size: 11px;
  line-height: 20px;
  margin-top: -3px;

}

.test1pp{
  font-size: 11px;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 20px
}

.test1{
  display: flex;flex-direction: row;border-radius: 8px;overflow:hidden;height: 230px;margin-top: 15px;
  width: 100%;
  overflow: scroll;
}

.test1::-webkit-scrollbar{display: none;}

.test1pp1{
  font-size: 11px;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 13px
}
.test1img{
  width: 15px;
  height: 15px;
}
.test2main{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  height: 210px;
  margin-top:15px;
  width:100%;
}
.test2div{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA;
   margin: 10px;
   border-radius: 4px;
  width: 159px;
  height:60px;
}

.testprof{
  background-color: #F6F8FA;
  height: 25px;
  width:154px;
  color:#FA6230;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 4px;
  padding-top: 5px;
   cursor: pointer;
   font-size: 12px;
}
   
.test2prof{
  background-color: #FA6230;
  height: 25px;
  width: 145px;
  color:#FFFFFF;
  margin-left: 5px;
  margin-top: 10px;
  padding-top: 5px;
  font-size: 12px;
  border-radius: 4px;
   cursor: pointer;
  }
   .tablebtn{
    background-color: #FA6230;color: #FFFFFF;margin-top: 3px;height: 25px;text-align: center;padding-top: 5px;border-radius: 4px;
   }
   .table-body3{
    margin-left: 50px;height: 50px;
   }
   .test5div{
    background-color: #FDE6E6;
    height: 25px;
    width:160px;
    color:#EA0000;
    font-weight: 700;
    margin: 10px;
    font-size: 12px;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    align-items: center;
   }
   .test5div2{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin: 10px;
    font-weight: 700;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    align-items: center;
    font-size: 12px;
   }
   .test4div{
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
     margin: 10px;
     border-radius: 4px;
     width: 160px;
     height:60px;
   }
   .test4div3{
    background-color: #F6F8FA;
    height: 25px;
    width:160px;
    color:#FA6230;margin: 10px;
    justify-content: center;
    align-items: center;
   }
   .test4div2{
    background-color: #FA6230;
    height: 20px;width:159px;color:#FFFFFF;
    justify-content: center;
    align-items: center;
    height: 25px;
    width:160px;
    margin: 10px;border-radius: 4px;
   }
   .test3div{
    background-color: #F6F8FA;
    margin-top: 25px;
    margin: 13px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   }
.div3{
  width: 38.3%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  
}

.minigiftcard{
  height:120px;
  width: 38.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 10px;
    height: 145px;
}
.user{
  width: 59.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  height: 145px;
}
.user::-webkit-scrollbar{display: none;}

.div0{
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  max-width: 195px;
  height: 250px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
}


.div1{
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  max-width: 195px;
  height: 150px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  
}


.div4{
  background-color: #FFFFFF;
  width:19.3%;
  height: 190px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin: 3px;
  padding: 7px;

  
}
.divd{
  background-color: #FFFFFF;
  width:19.3%;
  height: 210px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
}

.label{
font-size: 15px;
font-weight: 700;
}

.label1{
  font-size: 15px;
  font-weight: 700;
  margin-top: -55px;
  display: flex;
  flex-direction: row;
  }
  .staffhash{
    background-color: #F6F8FA;
    margin-top: 15px;
    margin: 15px;
    width: 220px;
    height: 60px;
    margin-left: 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;align-items: center;
  }
  .productdetailimg{
    border-radius: 90%;width: 80px;height: 80px;margin-top: 15px;
  }
  .productdetailhash{
    display: flex;
    flex-direction:column;
    background-color:#F6F8FA;
    margin-top:30px; 
     border-radius: 4px;
     padding-left: 15px;
     width: 310px;
     height: 80px;
  }
  .deactive{
    background-color: #EA0000;
    margin-left: 463px;
    margin-top: 70px;
    color: #FFFFFF;
    font-weight: 500;
    width: 100px;
    height: 28px;
    border-radius: 4px;
    padding-top:15px;
    padding-left:22px;
    font-size: 11px;
  }
  
  .hourdiv{
    color: #FA6230;
    background-color: #FFFFFF;
    font-weight: 700;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    margin-left: 130px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.angle-down{
  margin-left: 110px;
}




/*
@media (max-width: 800px)*/

@media only screen and (max-width: 800px) {
  
.userdiv1{
  display: flex;flex-direction: row;
  gap:5px;margin-left:8px;
  margin-top: 8px;
}
.userdiv2{
  display: flex;flex-direction: row;
  margin-top:-5px;gap:5px;margin-left: 8px;
}
.divinside1{
  display: flex;
  margin-top: 15px;
  margin-left: -2px;
  flex-direction: column;
  gap: 5px;
 
}
 
.minigiftcard{
  height:120px;
  width: 38.3%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 10px;
    height: 145px;
}
.user{
  width: 59.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  height: 145px;
}

.maindiv{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  
  max-width:100% ;    
  }
.minidiv1{
  
  display: flex;
  flex-direction: column;
  background-color:#F6F8FA;
  width: 48.6%;
  height: auto;
  border-radius: 8px;
  padding: 10px;
}

.insided{
  display: flex;
  flex-direction: row;
}
.insidedivs { 
  height: 70px;
  width: 50px;
   margin: 5px;
   border-radius: 4px;
   padding: 5px;
gap: 5px;
flex-grow: 1;
    display: flex;
  flex-basis: calc(48.5% - 5px);
  
  
}
  .btcdiv{
  
       margin-bottom: 5px;
  }
  .chatp{
    background-color: #F6F8FA;color: #414141;font-size: 15px;height: 40px;width: 600px;border-radius: 6px;padding-top: 10px;padding-left: 15px;
  }
  .chatopt{
margin-left:40px;
  }
.div1{
  background-color: #FFFFFF;
  width:23%;
  height: 150px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  
}
  .div2{
    width: 63%;
    background-color:#F6F8FA;
    border-radius: 8px;
    padding: 10px;
    
  }
  
.div3{
  width: 35%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  
}
.adminrow{
  display: flex;flex-direction:row;gap: 10px;height: auto;margin-top: 15px;flex-wrap: wrap;
}
  .admins{
    height: 230px;
    width: 48.8%;
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
  }
  .test5div3{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin: 10px;
    border-radius: 4px;
    padding-top: 5px;
   }
.divd{
  background-color: #FFFFFF;
  width:25%;
  height: 210px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
}


.test2hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-left: 6px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 130px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.testprof{
  background-color: #F6F8FA;
  height: 25px;
  width:110px;
  color:#FA6230;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 4px;
  padding-top: 5px;
   cursor: pointer;
   font-size: 12px;
}
   
.test1{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow:hidden;
  height: 230px;
  margin-top: 15px;
  overflow: scroll;
  width: 100%;

}

.test1hash3{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 110px; 
  justify-content: center;
  text-align: center;
  height:45px;
  
}
.div4{
  background-color: #FFFFFF;
width: 140px;
  max-width: 155px;
  height: 170px; 
  justify-content: center;
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin: 3px;
  

  
}
.div0{
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  height: 250px; 
  max-width: 155px;
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
}

.div1{
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 135px;
  max-width: 155px;
  height: 150px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  
}
.test2main{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  height: 210px;
  margin-top:15px;
  width:100%;
}

.tablebtn{
  background-color: #FA6230;color: #FFFFFF;margin-top: 3px;height: 20px;text-align: center;
  padding-top: 5px;border-radius: 4px;
  width: 80px;
}
  #table-body3{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
  }
  #table-body4{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 8px;
  }.tabcontent2 #table-body5{
    font-size: 11px;
   
  }
 .tabcontent2 #table-body6{
    font-size: 11px;
   
  }
    table { 
     border-collapse: collapse; 
     width: 100%; 
   } 
   
   th, td { 
     text-align: left; 
     padding: 8px; 
   } 
   
   tr:nth-child(even) { 
     background-color: #DEDEDE; 
   } 
   .container{
font-size: 28px;
   }
   .staffcontainer{
    font-size: 28px;
   }

    .staffhash{background-color: #F6F8FA;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        border-radius: 4px;
        height: 50px;
        margin-left: 9px;
      
    }
     
    .test3div{
       background-color: #F6F8FA;
       margin-top: 25px;
       margin: 13px;
       width: 110px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
      }
     .test4div3{
       background-color: #F6F8FA;
       height: 25px;
       width: 119px;
       color:#FA6230;margin: 10px;
      }
      .test4div2{
       background-color: #FA6230;
       height: 20px;width:119px;color:#FFFFFF;
       margin: 10px;border-radius: 4px;
      }
     .test4div{
       display: flex;
       flex-direction: column;
       background-color: #F6F8FA;
        margin: 10px;border-radius: 4px;
        width: 119px;
        height:60px;
      }
     .test5div{
       background-color: #FDE6E6;
       height: 25px;
       width:133px;
       color:#EA0000;
       margin: 10px;
      }
      .test5div2{
       background-color: #FA6230;
       height: 25px;
       width:133px;
       color:#FFFFFF;
       margin: 10px;
       border-radius: 4px;
       padding-top: 5px;
      }
   .dashtext{
     font-size: 13px;
     color:#444748;
     margin-top: 0px;
     white-space: nowrap;
   }
   .test2prof{
     background-color: #FA6230;
     height: 25px;
     width:110px;
     color:#FFFFFF;
     margin: 10px;
     margin-left: 5px;
     border-radius: 4px;
      cursor: pointer;}

    .test2div{
     display: flex;
     flex-direction: column;
     background-color: #F6F8FA;
      margin: 10px;
      border-radius: 4px;
     width: 125px;
     height:60px;
    }
   .test1img{
     width: 10px;
     height: 10px;
   }
     .test1p{
       font-size: 7px;
      
     }
     .test1hash{
     width: 95px;
     height:40px;
     background-color: #F6F8FA;
     
   
     }
     
     .test5hash{
      width: 110px;
      margin-left: 8px;
      height:40px;
      background-color: #F6F8FA;
      
    
      }
     

     .test1div{width: 47%;background-color: #FFFFFF;height: 52%;}
     .test1prof{
       background-color: #FA6230;
       height: 18px;
       width:95px;
       font-weight: 700;
       font-size: 10px;
     color: #FFFFFF;}
     
.renvbtn{
  background-color: yellow;color: #000000;height: 35px;text-align: center;width: 180px;padding-top: 10px;border-radius: 4px;margin-top: 15px;
}
     .renvp{
      color: #000000;margin-top: 50px;font-size: 14px;
     }
     .renvdiv{
      display: flex;flex-direction: row;margin-left: 300px;margin-top: 10px;gap: 5px;
font-size: 14px;     }
    
     
 .renvdiv2{
  display: flex;flex-direction:row;margin-left: 100px;margin-top: 10px;font-size: 14px;
 }
    /* .tab{
     background-color: #E0E0E0;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 69px;
  


    
     }*/

     
/* Style the tab */
.tab {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -50px;
  background-color: #E0E0E0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
     .tab .flexcontainer {
      padding: 50px;
   width: 100%;
   color: #000000;
   list-style: none;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: -20px;
   
     }
     .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    margin-left: -20px;
    margin-top: -20px;
    width: 105%;
    background-color: #E0E0E0;   
     }
     
.searchicon{
  display: none;
  overflow:visible;
}
     .flexcontainer1{
       margin-top: 60px;
      display: flex;
      flex-direction: row;
       width: 100%;
       height: 69px;
       background-color: #FFFFFF;
     }
     .search{
       margin-left: 322px;
    
     }
     .searc{
       margin-left:90px;
     }
     .search1{
       margin-left: 338px;
     }
     .search3{
    margin-left: 225px;    }
     .search4{
      margin-left: 298px;
    }
     .search5{
      margin-left: 235px;
    }
     .search8{
      margin-left: 335px;
    }
    
    .search9{
      margin-left: 310px;
    }
    
    .search10{
      margin-left: 195px;
    }
    
    .search11{
      margin-left: 209px;
    }
    
    .search12{
      margin-left: 250px;
    }
    
    .search13{
      margin-left: 225px;
    }
    
    .search14{
      margin-left: 5px;
    }
    .search16{
      margin-left: 335px;
    }
    
    .search17{
      margin-left: 42px;
    }
    .search18{
      margin-left: 100px;
    }
    .search19{
      margin-left: 310px;
    }
    
  .modal2btn{
    background-color: #FA6230;
    color:#FFFFFF;
    border: 0px;height: 30px;
    width: 90px;
    margin-top: 20px;
    margin-left: 270px;
    border-radius: 4px;
  }
    .modal{
      margin-top: -490px;
      margin-left: -19px;
     
    }
    .modal2{
      margin-top: -910px;
      margin-left: -19px;
     
    }

    .modal3{
      margin-top: -525px;
      margin-left: -19px;
     
    }
    .modal4{
      margin-top: -488px;
      margin-left: -19px;
     
    }

    .modal7{
      margin-top: -556px;
      margin-left: -19px;
     
    }
    .modal-content{
      margin-left: 210px;
      margin-top: 45px;
      width: 50%;
      height: 85%;
    }
    
    .modal-content3{
      margin-left: 200px;
      width: 50%;
      margin-top: 15px;
      height: 90%;
    }
    .modal-content4{
      margin-left: 210px;
      width: 50%;
      margin-top: -3px;
      height: 100%;
    }
     
     .tab .div{
      padding: 10px 56px;
       margin-left: 0px;
       height: auto;
       color: #000000;
      
       
     }
     .tab .header{
      gap: 15px;margin: 40px 0px 0px 40px;
     }
     nav button{
       font-size: 20px;
     }
     .tabcontent{
       width: 100%;
     }
     
     .AccountOverview{
    
       width: 100%;
       height: 100px;
   
     }
     .imgcenter{
      margin-top: 15px;
      margin-left: 5px;
       width: 25px;
       height: 25px;
     }
     
     .imgcenter1{
      width: 25px;
      height: 25px;
    }
   .divp{
     font-size: 6px;
   color: 
   #444748;
   }

   .divp1{
    font-size: 6px;
  color: 
  #444748;
  }
   .hourdiv{
    background-color: #FFFFFF;
    margin-left: 39px;
   }
   .divinside{
    margin-top: 15px;
   }
   .divinside .no{
      font-size: 12px;
   }
   .angle-down{
    margin-left: 89px;
   }


  
   .div .tablinks {
    display: flex;
  flex-direction: row;
    color: #414141;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  .div .tablinks:hover {
    background-color: #ddd;
    white-space: nowrap;
    width:100%;
    height:64px ;
    border-radius: 8px;
    font-size: 16px;
    color: #414141;
    font-size: 17px;
  }
  /* Create an active/current "tab button" class */
  .div .tablinks.active {
    background-color:#FA6230;
    white-space: nowrap;
    
    color:#FFFFFF;
    width:100%;
    height:64px ;
    border-radius: 8px;
    font-size: 16px;
  }
  
.tab .close{
    display: flex;
  }
  .staffdiv{
    display: flex;flex-direction:row;gap: 10px;height: 210px;margin-top: 15px;
  }
  .modal3btn{
    background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 50px;margin-left: 275px;border-radius: 4px;
  }
  
  .modal4btn{
    background-color: #FA6230;
    color:#FFFFFF;
    border: 0px;
    height: 30px;
    width: 90px;margin-top: 2px;
    margin-left: 275px;border-radius: 4px;
  }
  
  .modalhd{
    color: #000000;padding: 15px;
  }

  .modal3imginput  {
    display: flex;flex-direction:column;padding-left: 85px;padding-top: 20px;gap: 10px;
  }
  .modal7btn{
    background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 30px;margin-left: 275px;border-radius: 4px;
  }
  .contentbtn{
    background-color: #FA6230;
    color: #FFFFFF;
    margin-top: 25px;
    height: 35px;
    text-align: center;
    width: 180px;
    padding-top: 10px;
    border-radius: 4px;
  }
  
.date{
  background-color: #DEDEDE;height: 40px;width: 160px;padding-top: 15px; padding-left: 20px;border-radius: 5px;
}
.logout{
  background-color:   #FEE0D6;border-radius: 8px;width: 257px;height: 60px;font-weight: 700;color: #EA0000;margin-top: 20px; display: flex;flex-direction: row;margin-left: 45px;padding-top: 18px;
}
   }
   







/* For screens smaller than 768px */




/*
@media screen and (max-width: 600px) {
  
  .tab a:not(:first-child) {display: none;}
  .tab a.icon {
    float: right;
    display: block;
  }
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
  }*/




  