
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

.dropdown-icon{
 margin-left: 20px;
}
.sidebar-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.renvbtn{
  background-color: yellow;color: #000000;height: 40px;text-align: center;width: 200px;padding-top: 10px;border-radius: 4px;margin-top: 15px;
}
.renvp{
  color: #000000;margin-top: 50px;
}
.renvdiv{
  display: flex;flex-direction: row;margin-left: 420px;margin-top: 10px;gap: 5px;
 }
 .renvdiv2{
  display: flex;flex-direction:row;margin-left: 100px;margin-top: 10px;
 }

.test5div3{
  background-color: #FA6230;
  height: 28px;
  width:160px;
  color:#FFFFFF;
  font-family: 700;
  font-size: 12px;
  border-radius: 4px;
  padding-top: 6px;
 
 }
body {
  margin: 0;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
    
   
}
.admin-list{
  display: flex;
  flex-direction:row;
  gap: 10px;
  height: 246px;
  margin-top: 20px;}

 
.tab .sidebar-header{
  gap: 15px;margin: 40px 0px 0px 0px;
 }
 
.logout-button{
  background-color:   #FEE0D6;border-radius: 8px;width: 207px;height: 38px;font-weight: 700;color: #EA0000;margin-top: 20px; display: flex;flex-direction: row;padding-left: 15px;padding-top: 18px;
}
.searchicon{
  display: none;
  overflow:visible;
  
}
.date{
  background-color: #DEDEDE;height: 40px;width: 160px;padding-top: 15px; padding-left: 20px;border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
}
.content-button{
  background-color: #FA6230;
  font-size: 14px;
  font-family: 700;
  color: #FFFFFF;
  margin-top: 50px;
  height: 45px;
  text-align: center;
  width: 180px;
  padding-top: 15px;
  border-radius: 6px;
  
}

.modal7btn{
  background-color: #FA6230;color:#FFFFFF;border: 0px;height: 38px;width: 95px;margin-top: 30px;margin-left: 330px;border-radius: 4px;
}
.modal3imginput  {
  display: flex;flex-direction:column;
  padding-left: 150px;padding-top: 20px;gap: 10px;
}
.modal-title{
  color: #000000;
}
.modal-submit-button{
  background-color: #FA6230;
  color:#FFFFFF;border: 0px;
  height: 42px;
  width: 130px;margin-top: 45px;
  margin-left: 328px;border-radius: 4px;
}

.modal4btn{
  background-color: #FA6230;color:#FFFFFF;
  border: 0px;height: 40px;width: 110px;
  margin-top: 25px;margin-left: 295px;
  border-radius: 4px;
}

.staffdiv{
  display: flex;flex-direction:row;gap: 10px;height: 210px;margin-top: 15px;
}

.btc-chart{
 height: 220px;
 background-color: #FFFFFF;
 border-radius: 8px;
 margin-top: 15px;
 width: 510px;
}

.chatp{
  background-color: #F6F8FA;
  white-space: nowrap;
  color: #414141;
  font-size: 15px;
  font-family: 700;
  height: 45px;
  width: 650px;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -270px;
  margin-top: 15px;
}

.chatopt{
  color:#FA6230; 
  background-color:#FEE0D6;
  white-space: nowrap;
  width: 150px;
  height: 45px;
  gap: 5px;
  font-size: 16px;
  font-family: 700;
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 15px;
  margin-left: -85px;
    }
.admin-item{
  height: 244px;
  width: 900px;
  background-color: #FFFFFF;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  padding: 25px 0px 0px 0px;
}
span{font-size: 10px;
line-height: 20px;}
.menu{
  display: none;
  overflow:visible;
}
.tab .close{
  display: none;
}
/* Style the tab */
.tab {
  
 /* position: fixed;
 float: left;*/
  background-color: #F6F8FA;
  width: 18.3%;
  overflow:scroll;
padding: 56px 24px 38px 32px ;
border: 1px solid 
#E0E0E0;

}


.tab::-webkit-scrollbar{display: none;}
/* Style the buttons inside the tab */
.menu-section .menuitem {
  display: flex;
flex-direction: row;
  color: #414141;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  
}
/* Change background color of buttons on hover */
.menu-section .menuitem:hover {
  background-color: #ddd;
  width:207px;
  height:38px ;
  border-radius: 8px;
  font-size: 16px;
  color: #414141;
  font-size: 17px;
}
/* Create an active/current "tab button" class */
.menu-section .menuitem.active {
  background-color:#FA6230;
  color:#FFFFFF;
  width:207px;
  height:38px ;
  border-radius: 8px;
  font-size: 17px;
}









.tab .icon {
  display: none;
}

/* Style the tab content 


.contentsection{
  display: none;
 width: 81.7;
}
*/
.contentsection {
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 100%;
  border-left: none;
  background-color: #ffffff;
  transition: 0.5;
  padding: 26px 32px 40px 40px;
  overflow-y: auto;
}



.admin-info-container{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    height: 69px;
    margin-top: 15px;
}
.top-bar-date{
    font-size: 11px;
    color:#444748;
    white-space: nowrap;
    
}
.top-bar-container{
display: flex;
flex-direction: column;
justify-content: space-between;
color: #000000;
font-size: 32px;
font-weight: 700;
margin-top: 15px;
white-space: nowrap;
}

.staffcontainer{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    gap: 8px;
  
    }
    
.staffcontainer1{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  gap: 8px;

  }
.searchdiv{
    display: flex;
    margin-top: 15px;
   
}
.iconsearch{
    margin-left: 550px;
    margin-top: 12px;
    border-radius: 8px;
    border: 2px solid #EEF0F5;
    height: 40px;
    width:40px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
search-input{
    padding: 10px;
    margin-left: 0px;
    margin-top: 12px;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid#EEF0F5;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
#admin{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  margin-left: 10px;

}
icon{
  
    margin-left: 99px;
}
#signup{
    color: #F0592A;
}/*
#main-section{
    text-align: center;
padding: 150px;
width: 610px;
height: 582px;
background-color:#F6F8FA;

}*/

.main-section{
    display: flex;
    flex-direction:row;
    gap: 15px;
    max-width:100% ;    
    }

.overview-cards{
display: flex;
flex-direction: column;
margin-left: -5px;
margin-top: 10px;
}
.overview-section{
  display: flex;
  flex-direction: column;
    background-color:#F6F8FA;
    width: 49.2%;
    height: 355px;
    border-radius: 8px;
  padding: 10px 20px 20px 20px;
}

.chart-section{
  width: 555px;
  height: 355px;
  background-color: #F6F8FA;
  padding: 48px 20px 20px 20px;
  border-radius: 8px;
}

.insided{
    display: flex;
    flex-direction: row;
    
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.giftcard-content{
  display: flex;
  margin-top: 15px;
 
  flex-direction: column;
  gap: 5px;
 
}
.giftcard-content .no{
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.overview-card{
    background-color: #FFFFFF;
   height: 74px;
   margin: 5px;
   border-radius: 4px;
   padding: 15px;
gap: 8px;
    display: flex;
    flex-basis: calc(48.9% - 5px); /* Each item occupies 50% of container width with a small gap */
   /* Adjust gap as needed */
}

.giftcard-card{
   
    background-color: #FFFFFF;
  display: flex;
  gap:5px;
  flex-direction: row;
    height: 70px;
   width: 48%;
}
.card-title{
font-size: 7px;
white-space: nowrap;
font-weight: 500;
width: 150px;
color:#444748;
    
}

.giftcard-title1{
  font-size: 8px;
  white-space: nowrap;
 }
.img{max-width: 100%;
height: 25px;}

.staff-management{
    width: 60%;
    background-color:#F6F8FA;
    border-radius: 8px;
   padding:40px 20px 0px 20px;
    height: 325px;
}
.chart-info{
display: flex;
flex-direction: row;
gap: 5px;
}
.btc-value{
    margin-top: 3px;
    width: 190px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.imgcenter{max-width: 100%;
  width: 38px;
  height: 38px;

}

.giftcard-image{width: 38px;
  margin-top: 15px;
  margin-left: 10px;
  height: 38px;
}



*{
    margin: 0;
    padding: 0;
}
.box{
    margin: 10px;
    height: 250px;
    background-color: #fff;
}


.tab2 {
    display: flex;flex-direction: row;
    width:470px;
    height: 46px ;
    margin-top: 20px;
  }
/* Style the buttons inside the tab */
.tab2 h5 {
    
    display: flex;flex-direction: row;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    color: #414141;
    height:46px ;
   padding: 12px;
    width: 170px;
    outline: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-family: 700;
  }
  /* Change background color of buttons on hover */
  .tab2 h5:hover {
    background-color: #dddddd;
    color: #414141;
    width:170px;
    height:46px ;
    font-size: 14px;
    font-family: 700;
  
  }
  /* Create an active/current "tab button" class */
  .tab2 h5.active {
    background-color:#FA6230;
    color:#FFFFFF;
    width:170px;
    height:46px ;
   font-size: 14px;
   font-family: 700;
  }

/* Style the tab content */
.tabcontent2 {
   margin-top: 10px;
   margin-left: 0px;
    padding:  12px;
    width: 100%;
    background-color: #FFFFFF;
    
  }
 table { 
            border-collapse: collapse; 
            width: 90%; 
           
        } 
          

        th { 
           
            padding: 12px 16px 12px 25px;
            
          
            font-weight: 700;
            
        } 
        td {
          padding: 12px 16px 12px 25px;
           
        
          font-weight: 500;
        }
          th{background-color: #ffffff;}
       tbody tr:nth-child(odd) { 
            background-color: #DEDEDE; 
        } 
 
     tbody tr:nth-child(even) { 
          background-color: #FFFFFF; 
      } 
      .credit {
        font-weight: 700;
        color: green; /* Change this to whatever color you prefer */
    }

    .Debit {
      font-weight: 700;
        color: red; /* Change this to whatever color you prefer */
    }
        
      
.search-input {
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 454px;
  margin-top: 20px;
}
  
       .content-container {
           flex: 1; 
           width: 81.7%;  
        }  


.search-input-users {
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 460px;
  margin-top: 20px;
}
.search3 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 405px;
 
}


.chatinput {
  width: 700px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 8px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Vector.png');
  background-position: 550px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  
}

.search4 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 460px;

}

.search5 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 422px;
  margin-top: -3px;
}

.search6 {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  background-color: #FFFFFF;
  padding: 20px;

}

input[type='file'] {
  cursor: pointer;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
 
}

.search8 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 460px;
  margin-top: 20px;
 
  
}

.search9 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 460px;
  
 
  
}

.search10 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 425px;
 
  
}

.search11 {
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 400px;
}

.search12 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 438px;
 
 
  
}

.search13 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 420px;
  margin-top:3px;
 
  
}

.search14 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 250px;
  margin-top:-20px;
  
}
.error{
  font-size: 14px;
  font-family: 500;

}
.search15 {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 505px;
  margin-top: 20px;
 
}


.search16 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 470px;
  margin-top: 20px;
 
  
}
.search17 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 285px;
 
}


.search18 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 425px;
}

.search19 {
  width: 400px;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 500px;
  margin-top: 20px;
}

.imagepreview{width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  display: flex;
  margin-left: 50px;
}

 .test2divs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:10px;width: 18%;
  text-align: center;
  
   }
.input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 14px;
 


}


.input2 {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 16px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 20px 0px 120px 20px;
 


}

.input3 {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  padding: 20px ;
  line-height: 37px;
  background-size: 8px 8px;
}


.input4 {
  width: 100%;
  height: 80px;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 16px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 14px;
 
}
   

.input5 {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #B4B5B6;
  border-radius: 4px;
  font-size: 12px;
  color: #B4B5B6;
  background-color: #FFFFFF;
  background-position: 400px 16px; 
  background-repeat: no-repeat;
  padding: 20px ;
  line-height: 37px;
  background-image: url('./images/expand_more\ \(1\).png');
  background-size: 8px 8px;
}
search-input-users {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 515px;


}

.searc {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #EEF0F5;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F6F8FA;
  background-image: url('./images/Search_Icons_UIA.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
margin-left: 515px;


}
.menu-section{
  margin-left: -21px;
 border-width: 1px;
 width:318px;
 padding: 15px;
  border-bottom: solid#E0E0E0 1px;
  
}
.account-overview{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  width: 100%;
  


}


.modal2btn{
  background-color: #FA6230;
  color:#FFFFFF;
  border: 0px;height: 42px;
  width: 130px;
  margin-top: 45px;
  margin-left: 328px;
  border-radius: 4px;
}

.modal9 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -785px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal8 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -380px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal7 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -1000px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal6 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -435px;
  z-index: 1;
  width: 100%;
  height: 115%;
  margin-left: 0%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.modal5 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -635px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: 0%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal4 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -1005px;
  z-index: 1;
  width: 100%;
  height: 116%;
  margin-left: -21%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal3 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -1135px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}
.gitcardmodal{
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -853px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
}
.modal23 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -413px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -26.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal33 {
  
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -855px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -22.5%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}

.modal10 {
  display: none; /* Initially hide the modal */
  position: fixed;
 
  z-index: 1;
  width: 100%;
  height: 100%;
  
  color: #000000;
  background: rgba(9, 139, 9, 0.3)
  
}
.modal13 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -804px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
  
}


.modal12 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -725px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21.4%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
}

.modal2 {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -725px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21%;
  color: #000000;
  justify-content: center;
  align-items: center;
  background: rgba(14, 15, 14, 0.3);
  
  
}
.promotion-modal  {
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -885px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21%;
  color: #000000;
  justify-content: center;
  align-items: center;
  background: rgba(14, 15, 14, 0.3);
  
  
}
  .modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    margin-top: -1085px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: -21%;
    color: #000000;
    background: rgba(14, 15, 14, 0.3)
    
}
.staffmanagementmodal{
  display: none; /* Initially hide the modal */
  position: fixed;
  margin-top: -802px;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -21%;
  color: #000000;
  background: rgba(14, 15, 14, 0.3)
}
.modal-content4 {
  background-color: #FFFFFF;
  width: 40%;
  height: 65%;
  border-radius: 8px;
  margin-left: 400px;
  margin-top: 140px;
  color: #000000;
 overflow-y: auto;
  padding: 50px 40px 50px 40px ;
}

.modal-content3 {
  background-color: #FFFFFF;
  padding: 30px 40px 50px 40px ;
  width: 40%;
  height: 95%;
  border-radius: 8px;
  margin-left: 400px;
  margin-top: 20px;
  color: #000000;
 
}
.modal-content2 {
  background-color: #FFFFFF;
  width: 30%;
  height: 55%;border-radius: 8px;
  margin-left: 300px;
  margin-top: 100px;
  color: #000000;
}

.modal-content {
    background-color: #ffffff;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    margin-left: 400px;
    margin-top: 60px;
    color: #000000;
    padding: 30px 40px 50px 40px ;
 
}

.tab .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 20px;
    cursor: pointer;

}

 .close2 {
  color: #2b0606;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
  
}
#check{
  display: none;
 
}
.test1div{
  background-color: #ffffff;
  width:48%;
  height: 180px; 
  margin: 3px; 
  padding: 20px 5px 5px 5px;
  border-radius: 8px;
}

.test1prof{
  background-color: #FA6230;
  height: 25px;
  width:152px;
  font-size: 11px;
  color:#FFFFFF;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
 padding-left: 50px;
  padding-bottom: 4px;
}

.test1prof2{
  background-color: #FA6230;
  height: 25px;
  width:152px;
  font-size: 11px;
  color:#FFFFFF;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
 padding-left: 15px;
  padding-bottom: 4px;
}

.test1hash3{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 4px;
  width: 154px; 
  justify-content: center;
  text-align: center;
  height:59px;
  

}
.test1hash2{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 4px;
  width: 158px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
}
.test1hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 4px;
  width: 152px; 
  height:59px;
  padding: 10px 20px 10px 10px ;

}


.test2hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin-left: 14px;
  margin-top: 14px;
  padding-top: 5px;
  padding-left: 18px;
  padding-bottom: 5px;
  border-radius: 4px;
  gap: 10px;
  width: 168px; 
  justify-content: center;
  text-align: center;
  height:70px;
  
  

}



.test5hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 145px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.userdiv1{
  display: flex;flex-direction: row;gap:5px;margin-left:8px;
}
.userdiv2{
  display: flex;flex-direction: row;margin-top:8px;gap:5px;margin-left: 8px;
}
.test1p{
  font-size: 11px;
  line-height: 20px;
  margin-top: -3px;

}

.test1pp{
  font-size: 11px;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 20px
}

.test1{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  height: 251px;
  margin-top: 15px; width: 100%; overflow: scroll;
  
}

.test1::-webkit-scrollbar{display: none;}

.test1pp1{
  font-size: 11px;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 13px
}
.test1img{
  width: 15px;
  height: 15px;
}
.users-content-container{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-top:40px;
  
}
.test2div{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA;
   margin: 10px;
   border-radius: 4px;
  width: 159px;
  height:60px;
}

.testprof{
  background-color: #F6F8FA;
  height: 25px;
  width:154px;
  color:#FA6230;
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 4px;
  padding-top: 5px;
   cursor: pointer;
   font-size: 11px;
}
   
.test2prof{
  margin-left: 5px;
  background-color: #FA6230;
  height: 25px;
  width: 154px;
  color:#FFFFFF;
  margin-top: 15px;
  padding-top: 5px;
  font-size: 11px;
  border-radius: 4px;
   cursor: pointer;
  }
  .tablebtn{
    background-color: #FA6230;
    color: #ffffff;margin-top: 3px;
    height: 25px;text-align: center;
    padding-top: 5px;border-radius: 4px;
    justify-content: center;
    width: 90px;
  }
   .tablebtn p{
font-size: 10px;
   }
   
   .table-body3{
    margin-left: 50px;height: 50px;
    font-weight: 500; 
    font-size: 12px;
   }
   .test5div{
    background-color: #FDE6E6;
    height: 25px;
    width:160px;
    color:#EA0000;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 17px;
    font-size: 12px;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    align-items: center;
   }
   .test5div2{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin-top: 12px;
    font-weight: 700;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    align-items: center;
    font-size: 12px;
   }
   

   
   .test5div5{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin-top: 12px;
    margin-left: 17px;
    font-weight: 700;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    align-items: center;
    font-size: 12px;
   }
   
   .test4div{
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
     margin: 10px;
     border-radius: 4px;
     width: 160px;
     height:60px;
   }
   .test4div3{
    background-color: #F6F8FA;
    height: 25px;
    width:160px;
    color:#FA6230;margin: 10px;
    justify-content: center;
    align-items: center;
   }
   .test4div2{
    background-color: #FA6230;
    height: 20px;width:159px;color:#FFFFFF;
    justify-content: center;
    align-items: center;
    height: 25px;
    width:160px;
    margin: 10px;border-radius: 4px;
   }
   .test3div{
    background-color: #F6F8FA;
    margin-top: 25px;
    margin: 13px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   }
.users-section{
  width: 38.3%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding:40px 15px 0px 15px;
  height: 325px;
}

.giftcard-overview{
  width: 38.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 20px 20px 0px 20px;
   height: 174px;
}
.top-users{
  width: 59.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
  height: 174px;
  padding: 20px 20px 0px 20px;

}
.top-users::-webkit-scrollbar{display: none;}

.div0{

  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
 width: 195px;
  height: 275px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  padding: 0px 0px 0px 0px;
}


.div1{
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  width:19.3%;
  height: 170px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  padding: 7px 20px 7px 12px;
}


.div4{
  background-color: #FFFFFF;
  width:19.3%;
  height: 220px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin: 3px;
  padding: 20px 10px 5px 12px;

}
.divd{
  background-color: #FFFFFF;
  width:19.3%;
  height: 240px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
  padding:20px 20px 20px 15px;
  
  
}

.label{
font-size: 15px;
font-weight: 700;
margin-left: 10px;
margin-top: 20px;
}

.label1{
  font-size: 15px;
  font-weight: 700;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  }
  .contact-info{
    background-color: #F6F8FA;
    margin-top: 15px;
    width: 220px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    justify-content: center;align-items: center;
  }
  .productdetailimg{
    border-radius: 90%;width:110px;height: 110px;margin-top: 15px;
  }
  .productdetailhash{
    display: flex;
    flex-direction:column;
    background-color:#F6F8FA;
    margin-top:30px; 
     border-radius: 4px;
     padding-left: 15px;
     width: 310px;
     height: 80px;
  }
  .deactive{
    background-color: #EA0000;
    margin-left: 478px;
    margin-top: 70px;
    color: #FFFFFF;
    font-weight: 500;
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding-top:15px;
    padding-left:22px;
    font-size: 11px;
  }
  
  .timeframe-selector{
    color: #FA6230;
    background-color: #ffffff;
    font-weight: 700;
    margin-top: 15px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.angle-down{
  margin-left: 110px;
}




/*
@media (max-width: 800px)*/

@media only screen and (max-width: 800px) {
  
.userdiv1{
  display: flex;flex-direction: row;
  gap:5px;margin-left:8px;
  margin-top: 8px;
}
.userdiv2{
  display: flex;flex-direction: row;
  margin-top:-5px;gap:5px;margin-left: 8px;
}
.giftcard-content{
  display: flex;
  margin-top: 15px;
  margin-left: -2px;
  flex-direction: column;
  gap: 5px;
 
}
 
.giftcard-overview{
  height:120px;
  width: 38.3%;
  background-color:#F6F8FA;
  border-radius: 8px;
    padding: 10px;
    height: 145px;
}
.top-users{
  width: 59.7%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
  height: 145px;
}

.main-section{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  
  max-width:100% ;    
  }
.overview-section{
  
  display: flex;
  flex-direction: column;
  background-color:#F6F8FA;
  width: 48.6%;
  height: auto;
  border-radius: 8px;
  padding: 10px;
}

.insided{
  display: flex;
  flex-direction: row;
}
.overview-card { 
  height: 70px;
  width: 50px;
   margin: 5px;
   border-radius: 4px;
   padding: 5px;
gap: 5px;
flex-grow: 1;
    display: flex;
  flex-basis: calc(48.5% - 5px);
  
  
}
  .btc-chart{
  
       margin-bottom: 5px;
  }
  .chatp{
    background-color: #F6F8FA;color: #414141;font-size: 15px;height: 40px;width: 600px;border-radius: 6px;padding-top: 10px;padding-left: 15px;
  }
  .chatopt{
margin-left:40px;
  }
.div1{
  background-color: #FFFFFF;
  width:23%;
  height: 150px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  
}
  .staff-management{
    width: 63%;
    background-color:#F6F8FA;
    border-radius: 8px;
    padding: 10px;
    
  }
  
.users-section{
  width: 35%;
  background-color:#F6F8FA;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  
}
.admin-list{
  display: flex;flex-direction:row;gap: 10px;height: auto;margin-top: 15px;flex-wrap: wrap;
}
  .admin-item{
    height: 230px;
    width: 48.8%;
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
  }
  .test5div3{
    background-color: #FA6230;
    height: 25px;
    width:160px;
    color:#FFFFFF;
    margin: 10px;
    border-radius: 4px;
    padding-top: 5px;
   }
.divd{
  background-color: #FFFFFF;
  width:25%;
  height: 210px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;margin:3px;
}


.test2hash{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 12px;
 
  padding-top: 5px;
  padding-left: 6px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 130px; 
  justify-content: center;
  text-align: center;
  height:59px;
  
  

}
.testprof{
  background-color: #F6F8FA;
  height: 25px;
  width:110px;
  color:#FA6230;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 4px;
  padding-top: 5px;
   cursor: pointer;
   font-size: 12px;
}
   
.test1{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow:hidden;
  height: 230px;
  margin-top: 15px;
  overflow: scroll;
  width: 100%;

}

.test1hash3{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA; 
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  width: 110px; 
  justify-content: center;
  text-align: center;
  height:45px;
  
}
.div4{
  background-color: #FFFFFF;
width: 140px;
  max-width: 155px;
  height: 170px; 
  justify-content: center;
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin: 3px;
  

  
}
.div0{
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  height: 250px; 
  max-width: 155px;
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
}

.div1{
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 135px;
  max-width: 155px;
  height: 150px; 
  text-align: center;
   border-radius: 8px;
  border:1px solid #DEDEDE;
  margin:3px;
  
}
.users-content-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  margin-top:15px;
  width:100%;
}

.tablebtn{
  background-color: #FA6230;color: #FFFFFF;margin-top: 3px;height: 20px;text-align: center;
  padding-top: 5px;border-radius: 4px;
  width: 80px;
}
  #table-body3{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
  }
  #table-body4{
    border: 1px solid #dedede;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 8px;
  }.tabcontent2 #table-body5{
    font-size: 11px;
   
  }
 .tabcontent2 #table-body6{
    font-size: 11px;
   
  }
    table { 
     border-collapse: collapse; 
   
     width: 100%; 
   } 
   
   th, td { 
     text-align: left; 
     padding: 8px; 
    
   } 
   
   tr:nth-child(even) { 
     background-color: #DEDEDE; 
     
   
   } 
   .top-bar-container{
font-size: 28px;
   }
   .staffcontainer{
    font-size: 28px;
   }

    .contact-info{background-color: #F6F8FA;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        border-radius: 4px;
        height: 50px;
        margin-left: 9px;
      
    }
     
    .test3div{
       background-color: #F6F8FA;
       margin-top: 25px;
       margin: 13px;
       width: 110px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
      }
     .test4div3{
       background-color: #F6F8FA;
       height: 25px;
       width: 119px;
       color:#FA6230;margin: 10px;
      }
      .test4div2{
       background-color: #FA6230;
       height: 20px;width:119px;color:#FFFFFF;
       margin: 10px;border-radius: 4px;
      }
     .test4div{
       display: flex;
       flex-direction: column;
       background-color: #F6F8FA;
        margin: 10px;border-radius: 4px;
        width: 119px;
        height:60px;
      }
     .test5div{
       background-color: #FDE6E6;
       height: 25px;
       width:133px;
       color:#EA0000;
       margin: 10px;
      }
      .test5div2{
       background-color: #FA6230;
       height: 25px;
       width:133px;
       color:#FFFFFF;
       margin: 10px;
       border-radius: 4px;
       padding-top: 5px;
      }
   .top-bar-date{
     font-size: 13px;
     color:#444748;
     margin-top: 0px;
     white-space: nowrap;
   }
   .test2prof{
     background-color: #FA6230;
     height: 25px;
     width:110px;
     color:#FFFFFF;
     margin: 10px;
     margin-left: 5px;
     border-radius: 4px;
      cursor: pointer;}

    .test2div{
     display: flex;
     flex-direction: column;
     background-color: #F6F8FA;
      margin: 10px;
      border-radius: 4px;
     width: 125px;
     height:60px;
    }
   .test1img{
     width: 10px;
     height: 10px;
   }
     .test1p{
       font-size: 7px;
      
     }
     .test1hash{
     width: 95px;
     height:40px;
     background-color: #F6F8FA;
     
   
     }
     
     .test5hash{
      width: 110px;
      margin-left: 8px;
      height:40px;
      background-color: #F6F8FA;
      
    
      }
     

     .test1div{width: 47%;background-color: #FFFFFF;height: 52%;}
     .test1prof{
       background-color: #FA6230;
       height: 18px;
       width:95px;
       font-weight: 700;
       font-size: 10px;
     color: #FFFFFF;}
     
.renvbtn{
  background-color: yellow;color: #000000;height: 35px;text-align: center;width: 180px;padding-top: 10px;border-radius: 4px;margin-top: 15px;
}
     .renvp{
      color: #000000;margin-top: 50px;font-size: 14px;
     }
     .renvdiv{
      display: flex;flex-direction: row;margin-left: 300px;margin-top: 10px;gap: 5px;
font-size: 14px;     }
    
     
 .renvdiv2{
  display: flex;flex-direction:row;margin-left: 100px;margin-top: 10px;font-size: 14px;
 }
    /* .tab{
     background-color: #E0E0E0;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 69px;
  


    
     }*/

     
/* Style the tab */
.tab {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -50px;
  background-color: #E0E0E0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
     .tab .admin-info-container {
      padding: 50px;
   width: 100%;
   color: #000000;
   list-style: none;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: -20px;
   
     }
     .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    margin-left: -20px;
    margin-top: -20px;
    width: 105%;
    background-color: #E0E0E0;   
     }
     
.searchicon{
  display: none;
  overflow:visible;
}
     .top-bar{
       margin-top: 60px;
      display: flex;
      flex-direction: row;
       width: 100%;
       height: 69px;
       background-color: #FFFFFF;
     }
     .search-input{
       margin-left: 322px;
    
     }
     .searc{
       margin-left:90px;
     }
     .search-input-users{
       margin-left: 338px;
     }
     .search3{
    margin-left: 225px;    }
     .search4{
      margin-left: 298px;
    }
     .search5{
      margin-left: 235px;
    }
     .search8{
      margin-left: 335px;
    }
    
    .search9{
      margin-left: 310px;
    }
    
    .search10{
      margin-left: 195px;
    }
    
    .search11{
      margin-left: 209px;
    }
    
    .search12{
      margin-left: 250px;
    }
    
    .search13{
      margin-left: 225px;
    }
    
    .search14{
      margin-left: 5px;
    }
    .search16{
      margin-left: 335px;
    }
    
    .search17{
      margin-left: 42px;
    }
    .search18{
      margin-left: 100px;
    }
    .search19{
      margin-left: 310px;
    }
    
  .modal2btn{
    background-color: #FA6230;
    color:#FFFFFF;
    border: 0px;height: 30px;
    width: 90px;
    margin-top: 20px;
    margin-left: 270px;
    border-radius: 4px;
  }
    .modal{
      margin-top: -490px;
      margin-left: -19px;
     
    }
    .modal2{
      margin-top: -910px;
      margin-left: -19px;
     
    }

    .modal3{
      margin-top: -525px;
      margin-left: -19px;
     
    }
    .modal4{
      margin-top: -488px;
      margin-left: -19px;
     
    }

    .modal7{
      margin-top: -556px;
      margin-left: -19px;
     
    }
    .modal-content{
      margin-left: 210px;
      margin-top: 45px;
      width: 50%;
      height: 85%;
    }
    
    .modal-content3{
      margin-left: 200px;
      width: 50%;
      margin-top: 15px;
      height: 90%;
    }
    .modal-content4{
      margin-left: 210px;
      width: 50%;
      margin-top: -3px;
      height: 100%;
    }
     
     .tab .menu-section{
      padding: 10px 56px;
       margin-left: 0px;
       height: auto;
       color: #000000;
      
       
     }
     .tab .sidebar-header{
      gap: 15px;margin: 40px 0px 0px 40px;
     }
     nav button{
       font-size: 20px;
     }
     .contentsection{
       width: 100%;
     }
     
     .account-overview{
    
       width: 100%;
       height: 100px;
   
     }
     .imgcenter{
      margin-top: 15px;
      margin-left: 5px;
       width: 25px;
       height: 25px;
     }
     
     .giftcard-image{
      width: 25px;
      height: 25px;
    }
   .card-title{
     font-size: 6px;
   color: 
   #444748;
   }

   .giftcard-title{
    font-size: 6px;
  color: 
  #444748;
  }
   .timeframe-selector{
    background-color: #FFFFFF;
    margin-left: 39px;
   }
   .card-content{
    margin-top: 15px;
   }
   .card-content .no{
      font-size: 12px;
   }
   .angle-down{
    margin-left: 89px;
   }


  
   .div .menuitem {
    display: flex;
  flex-direction: row;
    color: #414141;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  .div .menuitem:hover {
    background-color: #ddd;
    white-space: nowrap;
    width:100%;
    height:64px ;
    border-radius: 8px;
    font-size: 16px;
    color: #414141;
    font-size: 17px;
  }
  /* Create an active/current "tab button" class */
  .div .menuitem.active {
    background-color:#FA6230;
    white-space: nowrap;
    
    color:#FFFFFF;
    width:100%;
    height:64px ;
    border-radius: 8px;
    font-size: 16px;
  }
  
.tab .close{
    display: flex;
  }
  .staffdiv{
    display: flex;flex-direction:row;gap: 10px;height: 210px;margin-top: 15px;
  }
  .modal-submit-button{
    background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 50px;margin-left: 275px;border-radius: 4px;
  }
  
  .modal4btn{
    background-color: #FA6230;
    color:#FFFFFF;
    border: 0px;
    height: 30px;
    width: 90px;margin-top: 2px;
    margin-left: 275px;border-radius: 4px;
  }
  
  .modal-title{
    color: #000000;padding: 15px;
  }

  .modal3imginput  {
    display: flex;flex-direction:column;padding-left: 85px;padding-top: 20px;gap: 10px;
  }
  .modal7btn{
    background-color: #FA6230;color:#FFFFFF;border: 0px;height: 30px;width: 90px;margin-top: 30px;margin-left: 275px;border-radius: 4px;
  }
  .content-button{
    background-color: #FA6230;
    
    color: #FFFFFF;
    margin-top: 25px;
    height: 35px;
    text-align: center;
    width: 180px;
    padding-top: 10px;
    border-radius: 4px;
  }
  
.date{
  background-color: #DEDEDE;height: 40px;width: 160px;padding-top: 15px; padding-left: 20px;border-radius: 5px;
}
.logout-button{
  background-color:   #FEE0D6;border-radius: 8px;width: 257px;height: 60px;font-weight: 700;color: #EA0000;margin-top: 20px; display: flex;flex-direction: row;margin-left: 45px;padding-top: 18px;
}
   }
   







/* For screens smaller than 768px */




/*
@media screen and (max-width: 600px) {
  
  .tab a:not(:first-child) {display: none;}
  .tab a.icon {
    float: right;
    display: block;
  }
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
  }*/




  